Sources : 
https://scikit-learn.org/stable/supervised_learning.html

### Libraries

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
import numpy as np
from sklearn.metrics import mean_absolute_error, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from EvaluationMetric import *

### Data Loading

In [2]:
def_feature = pd.read_csv("input/Xente_Variable_Definitions.csv")
data = pd.read_csv("input/training.csv")
X_test = pd.read_csv("input/test.csv")
sample_submission = pd.read_csv("input/sample_submission.csv")

data = data.dropna(axis=0) #Drop observations/rows with missing values
y = data.FraudResult #The target label
X = data.copy()
X.drop(['FraudResult'], axis=1, inplace=True) #Only the features data
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
cols_cat = list(data.dtypes[data.dtypes=="object"].index) #liste des feature categorical

# Decision Tree Classifier
Very simple model with no feature engineering to have a reference of performance when we improve out model. The missing values are droped for simplicity. At first, the categorical values are also droped. We want to do Binary Classification

In [3]:
train_y1 = train_y.copy()
train_X1 = train_X.copy()
val_y1 = val_y.copy()
val_X1 = val_X.copy()
train_X1.drop(cols_cat, axis=1, inplace=True) #Delete categorical data
val_X1.drop(cols_cat, axis=1, inplace=True) #Delete categorical data
#train_X1 = train_X.select_dtypes(exclude=['object'])
#val_X1 = val_X.select_dtypes(exclude=['object'])
train_X1.head()

       CountryCode  Amount  Value  PricingStrategy
43878          256  2500.0   2500                2
55031          256  1000.0   1000                2
28483          256  2000.0   2000                2
7328           256 -1000.0   1000                2
18860          256 -5000.0   5000                2

In [4]:
first_model_decision_tree = DecisionTreeClassifier(random_state=1)
first_model_decision_tree.fit(train_X1, train_y1)
predicted_first_model = first_model_decision_tree.predict(val_X1)

df_with_res = val_X1.copy()
df_with_res = df_with_res.join(val_y1.copy())
df_with_res["Predictions"] = list(predicted_first_model)
print(f'Mean Absolute Error : {mean_absolute_error(val_y, predicted_first_model)}')
print(f'Nombre de prédictions correcte : {df_with_res.Predictions[(df_with_res["Predictions"] == df_with_res["FraudResult"] )].count()}')
print(f'Nombre de prédictions incorrecte : {df_with_res.Predictions[(df_with_res["Predictions"] != df_with_res["FraudResult"] )].count()}')
print(f'Nombre de fraude non prédites : {df_with_res.Predictions[(df_with_res["Predictions"] != df_with_res["FraudResult"] )&(df_with_res["FraudResult"]==1)].count()}')
print(f'Nombre de pas fraude prédite en fraude : {df_with_res.Predictions[(df_with_res["Predictions"] != df_with_res["FraudResult"] )&(df_with_res["FraudResult"]==0)].count()}')
print(f'Nombre de fraude bien prédite : {df_with_res.Predictions[(df_with_res["Predictions"] == df_with_res["FraudResult"] )&(df_with_res["FraudResult"]==1)].count()}')
print(f'Nombre de pas fraude bien prédite : {df_with_res.Predictions[(df_with_res["Predictions"] == df_with_res["FraudResult"] )&(df_with_res["FraudResult"]==0)].count()}')
print(f'Nombre de Fraude dans le dataset : {val_y1.value_counts()[1]}')
print(f'Nombre total : {df_with_res.Predictions.count()}')
print(f'MAE : {mean_absolute_error(val_y1, predicted_first_model)}')
print(df_with_res[["FraudResult","Predictions"]][(df_with_res["Predictions"] != df_with_res["FraudResult"] )])
df_with_res.head(10)

Mean Absolute Error : 0.0004181301220939957
Nombre de prédictions correcte : 23906
Nombre de prédictions incorrecte : 10
Nombre de fraude non prédites : 7
Nombre de pas fraude prédite en fraude : 3
Nombre de fraude bien prédite : 33
Nombre de pas fraude bien prédite : 23873
Nombre de Fraude dans le dataset : 40
Nombre total : 23916
MAE : 0.0004181301220939957
       FraudResult  Predictions
81748            1            0
18008            0            1
71689            1            0
55763            0            1
70529            1            0
17883            1            0
81449            1            0
55757            0            1
71246            1            0
70047            1            0

       CountryCode  Amount  Value  PricingStrategy  FraudResult  Predictions
69075          256  2000.0   2000                4            0            0
65709          256  1110.0   1110                2            0            0
5430           256  2000.0   2000                2            0            0
82375          256 -1000.0   1000                2            0            0
60896          256  1000.0   1000                2            0            0
6835           256  -496.0    496                2            0            0
7384           256  1500.0   1500                2            0            0
71953          256  7000.0   7000                2            0            0
5423           256  1000.0   1000                2            0            0
49255          256  1000.0   1000                2            0            0

In [15]:
rep = report(val_y1, predicted_first_model, "Decision Tree Classifier4", "first simple model", csvw = True)
rep

TypeError: 'DataFrame' object is not callable

In [6]:
p = precision(val_y1, predicted_first_model)
r = recall(val_y1, predicted_first_model)
f = f1score(val_y1, predicted_first_model)
l = logloss(val_y1, predicted_first_model)
m = mcc(val_y1, predicted_first_model)
type(p)

numpy.float64

In [14]:
report =showreportcsv()
report

    Unnamed: 0                      Model         Description
0            0                        NaN          Table init  \
1            0  Decision Tree Classifier4  first simple model
2            0  Decision Tree Classifier4  first simple model
3            0  Decision Tree Classifier4  first simple model
4            0  Decision Tree Classifier4  first simple model
5            0  Decision Tree Classifier4  first simple model
6            0  Decision Tree Classifier4  first simple model
7            0  Decision Tree Classifier4  first simple model
8            0  Decision Tree Classifier4  first simple model
9            0  Decision Tree Classifier4  first simple model
10           0  Decision Tree Classifier4  first simple model
11           0  Decision Tree Classifier4  first simple model
12           0  Decision Tree Classifier4  first simple model
13           0  Decision Tree Classifier4  first simple model
14           0  Decision Tree Classifier4  first simple model
15           0  Decision Tree Classifier4  first simple model
16           0  Decision Tree Classifier4  first simple model
17           0  Decision Tree Classifier4  first simple model
18           0  Decision Tree Classifier4  first simple model
19           0  Decision Tree Classifier4  first simple model
20           0  Decision Tree Classifier4  first simple model

                          Date  Precision  Recall  F1-score   LogLoss
0   2023-04-26 13:47:36.765464   0.000000   0.000  0.000000  0.000000  \
1   2023-04-26 13:47:43.052645   0.916667   0.825  0.868421  0.015071
2   2023-04-26 13:48:20.185947   0.916667   0.825  0.868421  0.015071
3   2023-04-26 13:49:51.310670   0.916667   0.825  0.868421  0.015071
4   2023-04-26 13:51:04.857482   0.916667   0.825  0.868421  0.015071
5   2023-04-26 13:51:07.352628   0.916667   0.825  0.868421  0.015071
6   2023-04-26 13:51:08.129802   0.916667   0.825  0.868421  0.015071
7   2023-04-26 13:51:08.702653   0.916667   0.825  0.868421  0.015071
8   2023-04-26 13:51:09.205955   0.916667   0.825  0.868421  0.015071
9   2023-04-26 13:51:09.968942   0.916667   0.825  0.868421  0.015071
10  2023-04-26 13:51:10.516252   0.916667   0.825  0.868421  0.015071
11  2023-04-26 13:51:15.248624   0.916667   0.825  0.868421  0.015071
12  2023-04-26 13:51:16.261162   0.916667   0.825  0.868421  0.015071
13  2023-04-26 13:51:16.613453   0.916667   0.825  0.868421  0.015071
14  2023-04-26 13:51:17.018224   0.916667   0.825  0.868421  0.015071
15  2023-04-26 13:51:26.263755   0.916667   0.825  0.868421  0.015071
16  2023-04-26 13:51:26.341159   0.916667   0.825  0.868421  0.015071
17  2023-04-26 13:53:29.997921   3.000000   3.000  3.000000  3.000000
18  2023-04-26 13:53:30.075868   3.000000   3.000  3.000000  3.000000
19  2023-04-26 13:55:12.800459   0.916667   0.825  0.868421  0.015071
20  2023-04-26 14:00:44.017382   0.916667   0.825  0.868421  0.015071

         Mcc
0   0.000000
1   0.869421
2   0.869421
3   0.869421
4   0.869421
5   0.869421
6   0.869421
7   0.869421
8   0.869421
9   0.869421
10  0.869421
11  0.869421
12  0.869421
13  0.869421
14  0.869421
15  0.869421
16  0.869421
17  3.000000
18  3.000000
19  0.869421
20  0.869421
Model           object
Description     object
Date            object
Precision      float64
Recall         float64
F1-score       float64
LogLoss        float64
Mcc            float64
dtype: object
columns : Index(['Model', 'Description', 'Date', 'Precision', 'Recall', 'F1-score',
       'LogLoss', 'Mcc'],
      dtype='object')

,Model,Description,Date,Precision,Recall,F1-score,LogLoss,Mcc
0,NaN,Table init,2023-04-26 13:47:36.765464,0.000000,0.000,0.000000,0.000000,0.000000
18,Decision Tree Classifier4,first simple model,2023-04-26 13:53:30.075868,3.000000,3.000,3.000000,3.000000,3.000000
20,Decision Tree Classifier4,first simple model,2023-04-26 14:00:44.017382,0.916667,0.825,0.868421,0.015071,0.869421

In [8]:
df3 = report[(report["Model"]=="Decision Tree Classifier") & (report["Description"]=="first simple model")].shape[0]
df3

0

In [9]:
cm = confusion_matrix(val_y1, predicted_first_model)
tn, fp, fn, tp = cm.ravel()
print(tn, fp, fn, tp)

23873 3 7 33

Ici va expérimenter avec le nombre de noeud maximum et on voit que ça ne change rien. Est-ce que c'est à cause de la Régression ?

In [10]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeClassifier(max_leaf_nodes=max_leaf_nodes, random_state=1)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X1, val_X1, train_y1, val_y1)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  0
Max leaf nodes: 50  		 Mean Absolute Error:  0
Max leaf nodes: 500  		 Mean Absolute Error:  0
Max leaf nodes: 5000  		 Mean Absolute Error:  0

In [11]:
df_with_res.Predictions[(df_with_res["Predictions"] > 0 )& (df_with_res["Predictions"]<1)].count()

0

## Random Forest Regressor

In [12]:
forest_model = RandomForestClassifier(random_state=1)
forest_model.fit(train_X1, train_y1)
preds = forest_model.predict(val_X1)
print(mean_absolute_error(val_y1, preds))

0.0004181301220939957

In [13]:
model_1 = RandomForestClassifier(n_estimators=50, random_state=0)
model_2 = RandomForestClassifier(n_estimators=100, random_state=0)
model_3 = RandomForestClassifier(n_estimators=100, random_state=0)
model_4 = RandomForestClassifier(n_estimators=200, min_samples_split=20, random_state=0)
model_5 = RandomForestClassifier(n_estimators=100, max_depth=7, random_state=0)

models = [model_1, model_2, model_3, model_4, model_5]

# Function for comparing different models
def score_model(model, X_t=train_X1, X_v=val_X1, y_t=train_y1, y_v=val_y1):
    model.fit(X_t, y_t)
    preds = model.predict(X_v)
    return mean_absolute_error(y_v, preds)

for i in range(0, len(models)):
    mae = score_model(models[i])
    print("Model %d MAE: %d" % (i+1, mae))

Model 1 MAE: 0
Model 2 MAE: 0
Model 3 MAE: 0
Model 4 MAE: 0
Model 5 MAE: 0