# Data Cleaning, feature engineering

Let's see the distributions of targets label

In [46]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
pd.set_option('max_colwidth', None)

In [54]:
def_feature = pd.read_csv("input/Xente_Variable_Definitions.csv")
data = pd.read_csv("input/training.csv")
X_test = pd.read_csv("input/test.csv")
sample_submission = pd.read_csv("input/sample_submission.csv")

data = data.dropna(axis=0) #Drop observations/rows with missing values
y = data.FraudResult #The target label
X = data.copy()
X.drop(['FraudResult'], axis=1, inplace=True) #Only the features data
X, cols_cat, cols_unique_value = delete_col_unique_val(X) #deal with unique values
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
cols_cat = list(data.dtypes[data.dtypes=="object"].index) #liste des feature categorical
object_cols = [col for col in train_X.columns if train_X[col].dtype == "object"]

TransactionId : 95662
BatchId : 94809
AccountId : 3633
SubscriptionId : 3627
CustomerId : 3742
CurrencyCode : 1
CountryCode : 1
ProviderId : 6
ProductId : 23
ProductCategory : 9
ChannelId : 4
Amount : 1676
Value : 1517
TransactionStartTime : 94556
PricingStrategy : 4
The colomns : ['CurrencyCode', 'CountryCode'] have only one value

In [49]:
def score_dataset(X_train, X_valid, y_train, y_valid):#fucntion to test but have to improve
    model = RandomForestClassifier(random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    return mean_absolute_error(y_valid, preds)

In [4]:
print(y.value_counts())

0    95469
1      193
Name: FraudResult, dtype: int64

Les classe à prédire ne sont pas équitable, il y a bcp plus de classe 0 que 1. Ca veut dire que si le modèle prédit toujours 0 il aura qd mm un bon résultat alors qu'il fait au hasard. C'est ca le problème principale.

In [44]:
# Shape of training data (num_rows, num_columns)
print(X.shape)

# Number of missing values in each column of training data
missing_val_count_by_column = (X.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

X.info() #Il n'y a pas de valeur manquante

(95662, 15)
Series([], dtype: int64)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95662 entries, 0 to 95661
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TransactionId         95662 non-null  object
 1   BatchId               95662 non-null  object
 2   AccountId             95662 non-null  object
 3   SubscriptionId        95662 non-null  object
 4   CustomerId            95662 non-null  object
 5   CurrencyCode          95662 non-null  object
 6   CountryCode           95662 non-null  int64
 7   ProviderId            95662 non-null  object
 8   ProductId             95662 non-null  object
 9   ProductCategory       95662 non-null  object
 10  ChannelId             95662 non-null  object
 11  Amount                95662 non-null  float64
 12  Value                 95662 non-null  int64
 13  TransactionStartTime  95662 non-null  object
 14  PricingStrategy       95662 non-null  int64
dtypes: float64(1), int64(3), object(11)
memory usage: 10.9+ MB

## First value cleaning
We can delete the columns with only one value as it can't influence the model. We have already lightened the dataset

In [50]:
cols_unique_value_data = []

for col in data.columns : 
    if len(data[col].unique()) == 1:
        cols_unique_value_data.append(col)
    else :
        pass
    print(f'{col} : {len(data[col].unique())} ')

print(f'The colomns : {cols_unique_value_data} have only one value')

#X.drop(cols_unique_value, axis=1, inplace=True)
#cols_cat = list(X.dtypes[X.dtypes=="object"].index) #liste des feature categorical

TransactionId : 95662
BatchId : 94809
AccountId : 3633
SubscriptionId : 3627
CustomerId : 3742
CurrencyCode : 1
CountryCode : 1
ProviderId : 6
ProductId : 23
ProductCategory : 9
ChannelId : 4
Amount : 1676
Value : 1517
TransactionStartTime : 94556
PricingStrategy : 4
FraudResult : 2
The colomns : ['CurrencyCode', 'CountryCode'] have only one value

In [51]:
def delete_col_unique_val(X):
    cols_unique_value = []

    for col in X.columns : 
        if len(X[col].unique()) == 1:
            cols_unique_value.append(col)
        else :
            pass
        print(f'{col} : {len(X[col].unique())} ')

    print(f'The colomns : {cols_unique_value} have only one value')

    X.drop(cols_unique_value, axis=1, inplace=True)
    cols_cat = list(X.dtypes[X.dtypes=="object"].index) #liste des feature categorical
    return X, cols_cat, cols_unique_value

## Categorical Variables
On kaggle we learn there is 3 way to manage non-numeric data :
### 1) Drop Categorical Variables


### 2) Ordinal Encoding : for ordinal variables
Doit regarder ce que signifie les colonnes 


### 3) One-Hot Encoding : for nominal variables when the features don't use more than 15 different values
By only looking at the number of unique value, we can use this technic on the columns : ProviderId, ProductCategory, ChannelId and maybe ProductId.

In [38]:
X.describe(include=object, exclude=[np.int64, np.float64])

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,ProviderId,ProductId,ProductCategory,ChannelId,TransactionStartTime
count,95662,95662,95662,95662,95662,95662,95662,95662,95662,95662
unique,95662,94809,3633,3627,3742,6,23,9,4,94556
top,TransactionId_76871,BatchId_67019,AccountId_4841,SubscriptionId_3829,CustomerId_7343,ProviderId_4,ProductId_6,financial_services,ChannelId_3,2018-12-24T16:30:13Z
freq,1,28,30893,32630,4091,38189,32635,45405,56935,17

In [41]:
def_feature

,Column Name,Definition
0,TransactionId,Unique �transaction identifier on platform
1,BatchId,Unique number assigned to a batch of transactions for processing
2,AccountId,Unique number identifying the customer on platform
3,SubscriptionId,Unique number identifying the customer subscription
4,CustomerId,Unique identifier attached to Account
5,CurrencyCode,Country currency
6,CountryCode,Numerical geographical code of country
7,ProviderId,Source provider of Item �bought.
8,ProductId,Item name being bought.
9,ProductCategory,ProductIds are organized into these broader product categories.
10,ChannelId,"Identifies if customer used web,Android, IOS, pay later or checkout."
11,Amount,Value of the transaction. Positive for debits from customer account and negative for credit into customer account
12,Value,Absolute value of the amount
13,TransactionStartTime,Transaction start time
14,PricingStrategy,Category of Xente's pricing structure for merchants
15,FraudResult,Fraud status of transaction 1 -yes or 0-No

In [55]:
# One-Hot Encoding
from sklearn.preprocessing import OneHotEncoder
low_cardinality_cols=["ProviderId", "ProductCategory", "ChannelId"]

OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(train_X[low_cardinality_cols]))
OH_cols_valid = pd.DataFrame(OH_encoder.transform(val_X[low_cardinality_cols]))
# One-hot encoding removed index; put it back
OH_cols_train.index = train_X.index
OH_cols_valid.index = val_X.index

# Remove categorical columns (will replace with one-hot encoding)
num_X_train = train_X.drop(object_cols, axis=1)
num_X_valid = val_X.drop(object_cols, axis=1)

OH_X_train = pd.concat([num_X_train, OH_cols_train], axis=1)
OH_X_valid = pd.concat([num_X_valid, OH_cols_valid], axis=1)

print(score_dataset(OH_X_train, OH_X_valid, train_y, val_y))

C:\Users\sarah\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

0.0004181301220939957

C:\Users\sarah\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(