# Data Cleaning, feature engineering

In [106]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
import datetime as dt
from math import ceil
pd.set_option('max_colwidth', None)

In [37]:
def score_dataset(X_train, X_valid, y_train, y_valid):#fucntion to test but have to improve
    model = RandomForestClassifier(random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    return mean_absolute_error(y_valid, preds)

In [88]:
def delete_col_unique_val(X):
    cols_unique_value = []

    for col in X.columns : 
        if len(X[col].unique()) == 1:
            cols_unique_value.append(col)
        else :
            pass

    print(f'The colomns : {cols_unique_value} have only one value and have been dropped')

    X.drop(cols_unique_value, axis=1, inplace=True)
    return X, cols_unique_value

In [110]:
def week_of_month(dt):
    #Returns the week of the month for the specified date.

    first_day = dt.replace(day=1)

    dom = dt.day
    week_day = first_day.weekday()#monday = 0
    adjusted_dom = dom + week_day
    
    if week_day>=5:
        return int(ceil(adjusted_dom/7.0)) - 1
    else:
        return int(ceil(adjusted_dom/7.0))

In [129]:
def adding_date_col(X, date_col):
    day = [i.day for i in X[date_col]]
    hour = [i.hour for i in X[date_col]]
    l_week = [week_of_month(x) for x in X[date_col].tolist()]
    X['Day'] = day
    X['Hour'] = hour
    X['week_day'] = X[date_col].dt.dayofweek
    X["weeks"] = l_week
    return X

In [155]:
def added_column(describe):
    """
    Function to add information on  new columns and keep the describe's df updated
    If there is a missing data in one column, replace it with : np.nan
    """
    new_col = [
        ["Day", "The day in the month of the transaction", "int64", np.nan],
        ["Hour", "The hour of the transaction", "int64", np.nan],
        ["week_day", "The day of the week of the transaction", "int64", np.nan],
        ["weeks", "The week of the month of the transaction", "int64", np.nan]
    ]
    df1 = pd.DataFrame(new_col, columns=['Column Name', 'Definition', "Dtype", "unique"])
    describe = pd.concat([describe, df1])
    describe.reset_index(inplace=True)
    describe.drop(['index'], axis=1, inplace=True) #Only the features data
    return describe

In [156]:
#Data loading
def_feature = pd.read_csv("input/Xente_Variable_Definitions.csv")
raw_data = pd.read_csv("input/training.csv")
X_test = pd.read_csv("input/test.csv")
sample_submission = pd.read_csv("input/sample_submission.csv")

#Data transformation
raw_data['TransactionStartTime'] = pd.to_datetime(raw_data['TransactionStartTime'])
X_test['TransactionStartTime'] = pd.to_datetime(X_test['TransactionStartTime'])

#Data cleaning
data = raw_data.copy()
data = data.dropna(axis=0) #Drop observations/rows with missing values
data, cols_unique_value = delete_col_unique_val(data) #deal with unique values

#Adding data
data = adding_date_col(data, 'TransactionStartTime')
X_test = adding_date_col(X_test, 'TransactionStartTime')

#Data splitting
y = data.FraudResult #The target label
X = data.copy()
X.drop(['FraudResult'], axis=1, inplace=True) #Only the features data
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

#Other data
#Information on columns on raw_data
info = pd.DataFrame(data = raw_data.dtypes)
info.reset_index(inplace=True)
info.rename({'index':'Column Name', 0: 'Dtype'}, axis=1, inplace=True)
describe = def_feature.copy()
describe = describe.merge(info)
unique_val = []
for col in list(describe["Column Name"]) : 
    unique_val.append(len(raw_data[col].unique()))
describe["unique"]=unique_val
describe = added_column(describe)
object_cols = [col for col in train_X.columns if train_X[col].dtype == "object"]#liste of obejct columns

describe

The colomns : ['CurrencyCode', 'CountryCode'] have only one value and have been dropped

,Column Name,Definition,Dtype,unique
0,TransactionId,Unique �transaction identifier on platform,object,95662.0
1,BatchId,Unique number assigned to a batch of transactions for processing,object,94809.0
2,AccountId,Unique number identifying the customer on platform,object,3633.0
3,SubscriptionId,Unique number identifying the customer subscription,object,3627.0
4,CustomerId,Unique identifier attached to Account,object,3742.0
5,CurrencyCode,Country currency,object,1.0
6,CountryCode,Numerical geographical code of country,int64,1.0
7,ProviderId,Source provider of Item �bought.,object,6.0
8,ProductId,Item name being bought.,object,23.0
9,ProductCategory,ProductIds are organized into these broader product categories.,object,9.0
10,ChannelId,"Identifies if customer used web,Android, IOS, pay later or checkout.",object,4.0
11,Amount,Value of the transaction. Positive for debits from customer account and negative for credit into customer account,float64,1676.0
12,Value,Absolute value of the amount,int64,1517.0
13,TransactionStartTime,Transaction start time,"datetime64[ns, UTC]",94556.0
14,PricingStrategy,Category of Xente's pricing structure for merchants,int64,4.0
15,FraudResult,Fraud status of transaction 1 -yes or 0-No,int64,2.0
16,Day,The day in the month of the transaction,int64,NaN
17,Hour,The hour of the transaction,int64,NaN
18,week_day,The day of the week of the transaction,int64,NaN
19,weeks,The week of the month of the transaction,int64,NaN

In [29]:
print(y.value_counts())

0    95469
1      193
Name: FraudResult, dtype: int64

Les classe à prédire ne sont pas équitable, il y a bcp plus de classe 0 que 1. Ca veut dire que si le modèle prédit toujours 0 il aura qd mm un bon résultat alors qu'il fait au hasard. C'est ca le problème principale.

In [135]:
X.dtypes

TransactionId                        object
BatchId                              object
AccountId                            object
SubscriptionId                       object
CustomerId                           object
ProviderId                           object
ProductId                            object
ProductCategory                      object
ChannelId                            object
Amount                              float64
Value                                 int64
TransactionStartTime    datetime64[ns, UTC]
PricingStrategy                       int64
Day                                   int64
Hour                                  int64
week_day                              int64
weeks                                 int64
dtype: object

# Inspection des data avec fraude

In [120]:
fraud_data = data[data["FraudResult"]==1].copy()
fraud_data.describe()

,Amount,Value,PricingStrategy,FraudResult,Day,week_day,weeks
count,1.930000e+02,1.930000e+02,193.000000,193.0,193.000000,193.000000,193.000000
mean,1.535272e+06,1.561820e+06,1.704663,1.0,14.181347,2.725389,2.637306
std,2.100525e+06,2.081227e+06,0.963300,0.0,9.276609,1.860283,1.296251
min,-9.000000e+05,5.000000e+02,0.000000,1.0,1.000000,0.000000,0.000000
25%,5.000000e+05,5.000000e+05,2.000000,1.0,6.000000,1.000000,2.000000
50%,6.000000e+05,6.500000e+05,2.000000,1.0,12.000000,3.000000,3.000000
75%,2.000000e+06,2.000000e+06,2.000000,1.0,22.000000,4.000000,4.000000
max,9.880000e+06,9.880000e+06,4.000000,1.0,31.000000,6.000000,5.000000

In [31]:
fraud_data.describe(include=object)

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,ProviderId,ProductId,ProductCategory,ChannelId
count,193,193,193,193,193,193,193,193,193
unique,193,183,52,52,54,5,9,4,3
top,TransactionId_60873,BatchId_126656,AccountId_572,SubscriptionId_2950,CustomerId_909,ProviderId_3,ProductId_15,financial_services,ChannelId_3
freq,1,4,31,31,31,64,157,161,184

In [21]:
fraud_data[fraud_data["Amount"]<0] # il n'y a que 5 Fraud dont le montant est négatif !!
                                   # il faut qu'une partie soit dans le data training

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
55822,TransactionId_56954,BatchId_76447,AccountId_4249,SubscriptionId_4429,CustomerId_7339,ProviderId_4,ProductId_3,airtime,ChannelId_2,-900000.0,900000,2019-01-10T15:48:59Z,4,1
55841,TransactionId_73797,BatchId_127642,AccountId_4249,SubscriptionId_4429,CustomerId_7339,ProviderId_4,ProductId_10,airtime,ChannelId_2,-500000.0,500000,2019-01-10T16:03:35Z,4,1
56035,TransactionId_87682,BatchId_101919,AccountId_4249,SubscriptionId_4429,CustomerId_7401,ProviderId_4,ProductId_3,airtime,ChannelId_2,-500000.0,500000,2019-01-10T21:27:12Z,4,1
60834,TransactionId_126320,BatchId_93368,AccountId_4249,SubscriptionId_4429,CustomerId_7429,ProviderId_4,ProductId_3,airtime,ChannelId_2,-500000.0,500000,2019-01-15T11:09:57Z,0,1
68918,TransactionId_71725,BatchId_62457,AccountId_4841,SubscriptionId_3829,CustomerId_865,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-1005.0,1005,2019-01-23T09:15:37Z,2,1

In [23]:
# Shape of training data (num_rows, num_columns)
print(X.shape)

# Number of missing values in each column of training data
missing_val_count_by_column = (X.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

X.info() #Il n'y a pas de valeur manquante

(95662, 13)
Series([], dtype: int64)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95662 entries, 0 to 95661
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TransactionId         95662 non-null  object
 1   BatchId               95662 non-null  object
 2   AccountId             95662 non-null  object
 3   SubscriptionId        95662 non-null  object
 4   CustomerId            95662 non-null  object
 5   ProviderId            95662 non-null  object
 6   ProductId             95662 non-null  object
 7   ProductCategory       95662 non-null  object
 8   ChannelId             95662 non-null  object
 9   Amount                95662 non-null  float64
 10  Value                 95662 non-null  int64
 11  TransactionStartTime  95662 non-null  datetime64[ns, UTC]
 12  PricingStrategy       95662 non-null  int64
dtypes: datetime64[ns, UTC](1), float64(1), int64(2), object(9)
memory usage: 9.5+ MB

In [24]:
X.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15 02:18:49+00:00,2
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15 02:19:08+00:00,2
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15 02:44:21+00:00,2
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15 03:32:55+00:00,2
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15 03:34:21+00:00,2

## First value cleaning
We can delete the columns with only one value as it can't influence the model. We have already lightened the dataset

In [50]:
cols_unique_value_data = []

for col in data.columns : 
    if len(data[col].unique()) == 1:
        cols_unique_value_data.append(col)
    else :
        pass
    print(f'{col} : {len(data[col].unique())} ')

print(f'The colomns : {cols_unique_value_data} have only one value')

#X.drop(cols_unique_value, axis=1, inplace=True)

TransactionId : 95662
BatchId : 94809
AccountId : 3633
SubscriptionId : 3627
CustomerId : 3742
CurrencyCode : 1
CountryCode : 1
ProviderId : 6
ProductId : 23
ProductCategory : 9
ChannelId : 4
Amount : 1676
Value : 1517
TransactionStartTime : 94556
PricingStrategy : 4
FraudResult : 2
The colomns : ['CurrencyCode', 'CountryCode'] have only one value

## Categorical Variables
On kaggle we learn there is 3 way to manage non-numeric data :
### 1) Drop Categorical Variables


### 2) Ordinal Encoding : for ordinal variables
Doit regarder ce que signifie les colonnes 


### 3) One-Hot Encoding : for nominal variables when the features don't use more than 15 different values
By only looking at the number of unique value, we can use this technic on the columns : ProviderId, ProductCategory, ChannelId and maybe ProductId.

In [8]:
X.describe(include=object, exclude=[np.int64, np.float64])

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,ProviderId,ProductId,ProductCategory,ChannelId,TransactionStartTime
count,95662,95662,95662,95662,95662,95662,95662,95662,95662,95662
unique,95662,94809,3633,3627,3742,6,23,9,4,94556
top,TransactionId_76871,BatchId_67019,AccountId_4841,SubscriptionId_3829,CustomerId_7343,ProviderId_4,ProductId_6,financial_services,ChannelId_3,2018-12-24T16:30:13Z
freq,1,28,30893,32630,4091,38189,32635,45405,56935,17

In [55]:
# One-Hot Encoding
from sklearn.preprocessing import OneHotEncoder
low_cardinality_cols=["ProviderId", "ProductCategory", "ChannelId"]

OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(train_X[low_cardinality_cols]))
OH_cols_valid = pd.DataFrame(OH_encoder.transform(val_X[low_cardinality_cols]))
# One-hot encoding removed index; put it back
OH_cols_train.index = train_X.index
OH_cols_valid.index = val_X.index

# Remove categorical columns (will replace with one-hot encoding)
num_X_train = train_X.drop(object_cols, axis=1)
num_X_valid = val_X.drop(object_cols, axis=1)

OH_X_train = pd.concat([num_X_train, OH_cols_train], axis=1)
OH_X_valid = pd.concat([num_X_valid, OH_cols_valid], axis=1)

print(score_dataset(OH_X_train, OH_X_valid, train_y, val_y))

C:\Users\sarah\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

0.0004181301220939957

C:\Users\sarah\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

## Adding feature : dealing with date

In [122]:
X_date_analysis = raw_data.copy()

In [127]:
month = [i.month for i in X_date_analysis['TransactionStartTime']]
year = [i.year for i in X_date_analysis['TransactionStartTime']]
day = [i.day for i in X_date_analysis['TransactionStartTime']]
hour = [i.hour for i in X_date_analysis['TransactionStartTime']]

# create a sequence of numbers
X_date_analysis['Year'] = year
X_date_analysis['Month'] = month
X_date_analysis['Day'] = day
X_date_analysis['Hour']=hour
X_date_analysis['week_day'] = X_date_analysis["TransactionStartTime"].dt.dayofweek
l_week = [week_of_month(x) for x in X_date_analysis["TransactionStartTime"].tolist()]
X_date_analysis["weeks"] = l_week

X_date_analysis.groupby(["Year","Month"]).sum()
#data = data.reset_index()
#X.head(15)

            CountryCode        Amount      Value  PricingStrategy  \
Year Month
2018 11         3192832  6.751945e+07   80503297            27134
     12         9122560  1.923239e+08  325109579            80351
2019 1          8136448  1.547831e+08  294005703            73734
     2          4037632  2.280162e+08  247491082            34592

            FraudResult     Day  week_day  weeks    Hour
Year Month
2018 11              14  282058     38643  50809  149348
     12              62  589081    108285  89048  451705
2019 1               64  551747     91105  97589  394178
     2               53   98417     50092  29435  195543

Ici on voit que c'est que sur 4 mois, donc peut-être pas une bonne idée d'entrainer sur le mois et L'année

In [128]:
X_date_analysis.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,Value,TransactionStartTime,PricingStrategy,FraudResult,Year,Month,Day,week_day,weeks,Hour
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,...,1000,2018-11-15 02:18:49+00:00,2,0,2018,11,15,3,3,2
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,...,20,2018-11-15 02:19:08+00:00,2,0,2018,11,15,3,3,2
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,...,500,2018-11-15 02:44:21+00:00,2,0,2018,11,15,3,3,2
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,...,21800,2018-11-15 03:32:55+00:00,2,0,2018,11,15,3,3,3
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,...,644,2018-11-15 03:34:21+00:00,2,0,2018,11,15,3,3,3